.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav{
    display: flex;
    gap: 60%;
}
.nav-title{
    font-size: bold;
    font-size: 32px;
}
.text-primary{
    color: #0E0E0E;
}
nav li{
    list-style: none;
}
main{
    background-color: #C6E4D6;
    padding: 100px 80px;
    appearance: 100px;
    border-radius: 24px;
    display: flex;
    gap: 40%;
    /* border-style:  622px 326px; */
}
samp{
    color: #006A50;
}
style{
border-style:  622px 326px;
} 
 .none{
    list-style: none;
}