.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f0f0f0;
padding:20px;
color:#222;
}

/* header */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 0;
}

.btn-outline{
border:1px solid #0b6b4b;
background:none;
padding:8px 14px;
border-radius:6px;
cursor:pointer;
}

/* hero */

.hero{
display:flex;
gap:40px;
background:#cfe1d7;
padding:40px;
border-radius:20px;
align-items:center;
margin:20px 0;
}

.hero img{
width:300px;
}

.hero h1{
font-size:32px;
margin:10px 0 20px;
}

.btn{
background:#0b6b4b;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
}

/* sections */

section{
margin:40px 0;
}

h3{
margin-bottom:15px;
}

/* grid cards */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

/* vision */

.vision{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
}

.vision-card{
padding:20px;
border-radius:10px;
color:white;
display:flex;
flex-direction:column;
gap:10px;
}

.blue{background:#9ab8e7;}
.green{background:#b5ddc3;}
.orange{background:#dccaac;}

.vision-card button{
background:white;
border:none;
padding:6px;
border-radius:5px;
cursor:pointer;
}
.vision-size{
    size: 49*53px;
}

/* poll */

.poll div{
background:white;
padding:12px;
border-radius:8px;
margin-bottom:8px;
display:flex;
justify-content:space-between;
}

/* news */

.news{
display:flex;
gap:15px;
background:white;
padding:15px;
border-radius:10px;
}

.news img{
width:140px;
border-radius:8px;
}

/* donation */

.donate-grid{
display:flex;
gap:10px;
flex-wrap:wrap;
margin:10px 0;
}

.donate-grid button{
padding:10px 14px;
border-radius:6px;
border:1px solid #ccc;
background:white;
cursor:pointer;
}

.donate-grid .active{
background:#0b6b4b;
color:white;
}

/* newsletter */

.newsletter{
background:#cfe1d7;
padding:30px;
border-radius:15px;
text-align:center;
}

.newsletter input{
padding:10px;
width:250px;
margin:10px;
border-radius:6px;
border:1px solid #ccc;
}

/* footer */

footer{
text-align:center;
margin-top:30px;
opacity:0.7;
}

/* responsive */

@media(max-width:700px){

.hero{
flex-direction:column;
text-align:center;
}

.news{
flex-direction:column;
}
}
